body {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

a {
    text-decoration: none;
}

a:link {
    color: #A65740;
}

a:visited {
    color: #A65740;
}

#content {
    background-color: Bisque;
    width: 75%;
    margin: 0 auto;
    line-height: 150%;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
}

.title {
    margin: 0 0 50px 0;
}

#postamble {
    background-color: Bisque;
    width: 75%;
    margin: 10px auto;
    line-height: 150%;
    padding: 10px 20px;
    border-width: 1px;
    border-style: solid;
}

#postamble p {
    text-align: center
}

#table-of-contents {
    float: right;
    width: 25%;
}

.outline-2 {
    width: 75%
}

#intro {
    display: none;
}

#table-of-contents h2 {
    display: none;
}

.timestamp {
    font-size: 14px;
    color: #A67740;
}

#text-table-of-contents li:first-child {
    display: none;
}

.license {
    line-height: 100%;
    font-size: 14px;
}

.contact {
    line-height: 100%;
    font-size: 14px;
}

/*
This file is part of Andrew's Blog Pages.

Andrew's Blog Pages is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Andrew's Blog Pages is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Andrew's Blog Pages. If not, see <http://www.gnu.org/licenses/>.
*/
